*{
	box-sizing: border-box;
	padding: 10px;
	margin: 0;

	font-family: "Times New Roman", Georgia, Serif;
	font-size:1em;
}

h1{
	font-size: 1.75em;
	margin-bottom: 2em;
	text-align: center;
}

section{
	box-sizing: border-box;
	position: relative;
	
	margin-left: 10px;
	margin-bottom: 10px;
	
	padding: 10px;
	padding-top: 3em;
}

section, .title{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

.title{
	position: absolute;
	top: 0;
	right:0;
	color: #ff0000;
	width: 100px;
	text-align: center;
	font-size: 1.25em;
}

#s1{
	background-color: #00ff00;
}

#s2{
	background-color: yellow;
}

#s3{
	background-color: #00ffff;
}

#s3 > .title{
	background-color: #00ff00;
}

#s1 .title{
	background-color: yellow;
}

#s2 .title{
	background-color: #00ffff;
}

@media(min-width:992px)
{
	section
	{
		float:left;
		width:32%;
	}
}

@media(min-width:768px) and (max-width:991px)
{
	section
	{
		float:left;
		width:48%;
	}

	#s3
	{
		width:100%;
	}
}

@media(max-width:767px)
{
	section
	{
		width:100%;
	}

}
/**/